@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CascadiaCode';
  src: url(@/assets/fonts/CascadiaCodePL.woff2);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'CascadiaCode';
  font-size: 16px;
  margin: 0;
}